.coverflow-container {
  position: relative;
  width: 100%;
}

.coverflow-item-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.reflected > *:not(.coverflow-item) {
  -webkit-box-reflect: below 0
    linear-gradient(
      transparent 0%,
      rgba(0, 0, 0, 0.01) 80%,
      rgba(0, 0, 0, 0.3) 100%
    );
}

.reflected > .coverflow-item {
  position: relative;
}

.reflected > .coverflow-item::after {
  --reflection-gap: 0px;
  --reflection-brightness: 0.4;
  --reflection-height: 25%;
  content: "";
  transform: scale(1, -1);
  background-image: inherit;
  background-size: inherit;
  position: absolute;
  top: calc(100% + var(--reflection-gap));
  left: 0px;
  right: 0px;
  height: 100%;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent calc(100% - var(--reflection-height)),
    rgba(0, 0, 0, var(--reflection-brightness))
  );
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent calc(100% - var(--reflection-height)),
    rgba(0, 0, 0, var(--reflection-brightness))
  );
  border-style: solid;
  border-width: 1px;
  border-color: white;
}
