.coverflow-container {
  --coverflow-background: white;
  --reflection-gap: 0px;
  --reflection-brightness: 0.4;
  --reflection-height: 25%;
  --reflection-height-fr: 0.25fr;

  background-color: var(--coverflow-background);
  display: grid;
  grid-template-areas:
    "main"
    "reflections";
  grid-template-rows: 1fr var(--reflection-height-fr);
  align-items: center;
  justify-items: center;
  padding: 20px;
  overflow: hidden;
}

.coverflow-item-container {
  grid-area: main;
}

.coverflow-item {
}

.reflected > *:not(.coverflow-item) {
  -webkit-box-reflect: below 0
    linear-gradient(
      transparent 0%,
      rgba(0, 0, 0, 0.01) 80%,
      rgba(0, 0, 0, 0.3) 100%
    );
}

.reflected > .coverflow-item {
  position: relative;
}

.reflected > .coverflow-item::before,
.coverflow-item::after {
  content: "";
  transform: scale(1, -1);
  position: absolute;
  top: calc(100% + var(--reflection-gap));
  left: 0px;
  right: 0px;
  height: 100%;
}

.reflected > .coverflow-item::before {
  background-color: var(--coverflow-background);
}
.reflected > .coverflow-item::after {
  background-image: inherit;
  background-size: inherit;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent calc(100% - var(--reflection-height)),
    rgba(0, 0, 0, var(--reflection-brightness))
  );
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent calc(100% - var(--reflection-height)),
    rgba(0, 0, 0, var(--reflection-brightness))
  );
}

@supports (-moz-appearance: none) {
  .reflected > .coverflow-item::after {
    border-top: 1px solid var(--coverflow-background);
    border-right: 1px solid var(--coverflow-background);
    border-left: 1px solid var(--coverflow-background);
  }

  .reflected > .coverflow-item::before,
  .coverflow-item::after {
    left: -1px;
    right: -1px;
  }
}
